@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Print karte waqt sirf document dikhega, buttons gayab */
    @media print {
        body { -webkit-print-color-adjust: exact; }
        .no-print { display: none !important; }
    }
}